[Unit]
Description=Enable GPIO Pins
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/seniordesign/Scripts/enable_pins.sh
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target